/* Aquí definimos las custom properties */
:root{
    --color-primario : #181818;
    --color-secundario : #f0f0f0;

    /* Tipografía */
    --tipo-principal : 'Inter', sans-serif;;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark){
    :root{
    --color-primario : #f0f0f0;
    --color-secundario : #a89aea; 
    }
}

/* Reset el margin yu padding de todas las etiquetas */
*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    /* outline: 1px solid lightseagreen; */
}

/* Evitamos problemas con imágenes */
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

/* Reset los enlaces para funcionar como cajas */
a{
    display: block;
}

/* ... excepto los que se encuentran en párrafos */
p a{
    display: inline;
}

/* Quitamos los puntos de los <li> */
li{
    list-style-type: none;
}

/* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto en las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em{
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Nivelamos problemas de tipografía y colocación de formularios */
form, input, textarea, select, button, label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}

/* Reset las tablas */
table, tr, td{
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con svg */
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}

/* configuramos la tipografía para toda la web */
body{
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-primario);
    background-color: var(--color-secundario);
    line-height: 1.4em;
    font-smooth: always;
    -webkit-font-smoothing: antialiased ;
    -moz-osx-font-smoothing: grayscale;
    background-color: #23272F;

}

/* ------header------ */
.container{
    max-width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
    max-width: 1200px;
}


.header{
    background-color:#374151;
    /* -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.4); */
    transition: 0.3s;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 2rem 0;
}

.nav__title{
    font-size: 2em;
    color: #cfcaca;
}

.nav__links{
    font-weight: 200;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #fff;
}

.nav__link{
    transition: 0.3s;
}

.nav__link:hover{
    color: #af48b1;
}

.nav__cta{
    color: #f0f0f0;
    border: 1px solid #087EA4;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
    background-color: #087EA4;
    transition: 0.3s;
    font-weight: 700;
}

.nav__cta:hover{
    background-color: #199eca;
}


/* ------main------ */
.main{
    margin-top: 4rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.main__cards{
    width: 50%;
}

.mainCard__section{
    width: 100%;
    max-height: 28rem;
    margin-top: 4rem;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(151, 151, 151, 0.29);
    -moz-box-shadow: 5px 5px 10px 0px rgba(187, 183, 183, 0.29);
    box-shadow: 5px 5px 10px 0px rgba(82, 82, 82, 0.29);
    transition: 0.3s;
}

.mainCard__section:hover{
    transform: scale(1.1);
}


.mainCard__background{
    background: #199eca;

    border-radius: 2rem 2rem 0 0;
    height: 5rem;
}

.mainCard__items{
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.mainCard__picture{
    position: relative;
    background-color: #fff;
    width: 9rem;
    border-radius: 50%;
    bottom: 3rem;
}

.mainCard__img{
    padding: 0.4rem;
    width: 10rem;
}

.mainCard__texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainCard__title{
    font-size: 2em;
    font-weight: 600;
}

.mainCard__title--eduction{
    /* text-align: center; */
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}

.mainCard__subtitle--education{
    margin-top: 2rem;
    font-size: 1.5em;
    font-weight: 600;
}


.mainCard__location{
    display: flex;
    flex-direction: row;
    flex: end;
    gap: 1rem;
    align-items: center;
}

.mainCard__subtitle{
    font-size: 1em;
    font-weight: 500;
}

.fa-solid{
    color: #199ECA;
    font-size: 1.2em;
}

.mainCard__paragraph{
    font-size: 1em;
}

.mainCard__text{
    transition: 0.3s;
}

.mainCard__text:hover{
    text-decoration: underline;
    color: lightskyblue;
}

/* ------aside----- */
.aside__main{
    margin-top: 4rem;
}

.main__aside{
    /* width: 20rem; */
}

.aside__section{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
    padding: 0 0 2rem 0;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.29);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.29);
    /* border: 3px solid rgb(61, 59, 59); */
    transition: 0.3s;
    background-color: #f5f5f5;   
}

.aside__section:hover{
    transform: scale(1.1);
}

.aside__section--text{
    outline: 3px solid black;
    /* border-radius: 1rem; */
}

.aside__connection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #199ECA;

    gap: 2rem;
    height: 3rem;
    padding: 2rem;
    border-radius: 2rem 2rem 0 0;
}


.aside__number{
    border: 1px solid #fff;
    line-height: 2;
    text-align: center;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: #fff;
    font-weight: 700;
}

.aside__number--connection{
    border: 1px solid #fff;
    line-height: 2;
    text-align: center;
    height: 2.2rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #fff;
    font-weight: 700;
}

.aside__text{
    font-weight: 500;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
}

.aside__paragraph{
    font-size: 1em;
    font-weight: 500;
}


.aside__persons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.aside__person{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.aside__img{
    width: 5rem;
    border-radius: 50%;
    border: 3px solid #b8c8e0;
}

.fa-check, .fa-xmark{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 50%;
    outline: 2px solid black;
    height: 2rem;
    width: 2rem;
    text-align: center;
    transition: 0.3s;
}

.fa-check:hover{
    background-color: #087EA4;
    color: #fff;
    outline: #087EA4;
}

.fa-xmark:hover{
    background-color: #ff028d;
    color: #fff;
    outline: #087EA4;
}

.aside__picture{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;
}

.aside__container--text{
    background-color: #fff;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    text-decoration: underline;
    color: #199ECA;
    border-radius: 2rem;
    transition: 0.3s;
}

.aside__container--text:hover{
    transform: scale(1.1);
}

footer{
    height: 200px;
}